{% extends 'base.html' %}
{% block body %}
<div class="container">
 <div class="row">
  {% for i in movielist %}
  <div class="col-md-4" style="padding:20px;">
   <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{i.img.url}}"  height="250" alt="Card image cap">
  <div class="card-body" style="height:500px;">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text">{{i.desc}}.</p>
    <a href="{% url 'movieapp:details' i.id %} " class="btn btn-warning">View More</a>
  </div>
</div>
  </div>
   {% endfor %}
 </div>
    <div class="text-center" style="padding:20px;">
        <a href="{% url 'movieapp:add_movie' %}" class="btn btn-secondary">ADD MOVIE</a>
    </div>
</div>
{% endblock %}